@font-face {
    font-family: 'MyCustomFont';
    src: url('TestFont.woff2');
}

body {
    font-family: 'MyCustomFont', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #6d80ec;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #79f7cd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #4b4b4b;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #FF4500;
}

a:hover {
    text-decoration: underline;
    color: #FF6347;
}

img {
    width: 300px;
    height: auto;
    margin: 10px 0;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dcdcdc;
    color: #333333;
}
